## Part1

**You will only consider houses built from 2000 onwardsFind the most expensive houses for each year starting 2000Find the houses with the most bedrooms, bathrooms, and floors (each one separatley), for each year starting 2000.Find the houses with an area larger than the mean area of all houses (do the same for both sqft_living and sqft_lot)With respect to the above questions, explain any similarity, and/or pattern across the houses over the years.**

In [122]:
import pandas as pd
import math

In [123]:
df = pd.read_csv('kc_house_data.csv')

In [81]:
df.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
5,7237550310,20140512T000000,1230000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
30,8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,...,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756
40,5547700270,20140715T000000,625000.0,4,2.50,2570,5520,2.0,0,0,...,9,2570,0,2000,0,98074,47.6145,-122.027,2470,5669
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0,...,9,3595,0,2014,0,98053,47.6848,-122.016,3625,5639
45,8035350320,20140718T000000,488000.0,3,2.50,3160,13603,2.0,0,0,...,8,3160,0,2003,0,98019,47.7443,-121.977,3050,9232
56,9478500640,20140819T000000,292500.0,4,2.50,2250,4495,2.0,0,0,...,7,2250,0,2008,0,98042,47.3663,-122.114,2250,4500
57,2799800710,20150407T000000,301000.0,3,2.50,2420,4750,2.0,0,0,...,8,2420,0,2003,0,98042,47.3663,-122.122,2690,4750

## You will only consider houses built from 2000 onwards

In [67]:
#Select houses built after 2000
df = df[df['yr_built']>=2000]
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
5,7237550310,20140512T000000,1230000.0,4,4.5,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
9,3793500160,20150312T000000,323000.0,3,2.5,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
29,1873100390,20150302T000000,719000.0,4,2.5,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
30,8562750320,20141110T000000,580500.0,3,2.5,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
31,2426039314,20141201T000000,280000.0,2,1.5,1190,1265,3.0,0,0,...,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756

In [68]:
df.shape[0]

4759

**We have 4759 house built after 2000**

In [69]:
years = df['yr_built'].unique()
print(sorted(years))

[2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

**The building year is from 2000 to 2015.**

## 1. Find the most expensive houses for each year starting 2000

In [70]:
for year in range(2000, 2016):
    most_expensive_house = df.loc[(df["yr_built"] == year) & (df["price"] == df[df["yr_built"] == year]["price"].max())]
    
    if not most_expensive_house.empty:
        print(f"Year: {year}")
        print(most_expensive_house)
        print("\n")

Year: 2000
               id             date      price  bedrooms  bathrooms  \
16302  7397300170  20140530T000000  3710000.0         4        3.5

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
16302         5550     28078     2.0           0     2  ...     12

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
16302        3350           2200      2000             0    98039  47.6395

          long  sqft_living15  sqft_lot15
16302 -122.234           2980       19602

[1 rows x 21 columns]


Year: 2001
              id             date      price  bedrooms  bathrooms  \
9254  9208900037  20140919T000000  6890000.0         6       7.75

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
9254         9890     31374     2.0           0     4  ...     13        8860

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
9254           1030      2001             0    98039  47.6305 -122.24

      sqft_living15  sqft_lot15
9254           4540       42730

[1 rows x 21 columns]


Year: 2002
             id             date      price  bedrooms  bathrooms  sqft_living  \
300  3225069065  20140624T000000  3080000.0         4        5.0         4550

     sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
300     18641     1.0           1     4  ...     10        2600

     sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
300           1950      2002             0    98074  47.6053 -122.077

     sqft_living15  sqft_lot15
300           4550       19508

[1 rows x 21 columns]


Year: 2003
               id             date      price  bedrooms  bathrooms  \
12370  6065300370  20150506T000000  4210000.0         5        6.0

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
12370         7440     21540     2.0           0     0  ...     12

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
12370        5550           1890      2003             0    98006  47.5692

          long  sqft_living15  sqft_lot15
12370 -122.189           4740       19329

[1 rows x 21 columns]


Year: 2004
              id             date      price  bedrooms  bathrooms  \
2626  7738500731  20140815T000000  4500000.0         5        5.5

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
2626         6640     40014     2.0           1     4  ...     12        6350

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
2626            290      2004             0    98155  47.7493 -122.28

      sqft_living15  sqft_lot15
2626           3030       23408

[1 rows x 21 columns]


Year: 2005
               id             date      price  bedrooms  bathrooms  \
19148  3625049042  20141011T000000  3640000.0         5        6.0

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
19148         5490     19897     2.0           0     0  ...     12

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
19148        5490              0      2005             0    98039  47.6165

          long  sqft_living15  sqft_lot15
19148 -122.236           2910       17600

[1 rows x 21 columns]


Year: 2006
               id             date      price  bedrooms  bathrooms  \
16969  3025059093  20140729T000000  3100000.0         5       5.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
16969         5090     23669     2.0           0     0  ...     12

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
16969        5090              0      2006             0    98004  47.6297

          long  sqft_living15  sqft_lot15
16969 -122.216           3830       22605

[1 rows x 21 columns]


Year: 2007
               id             date      price  bedrooms  bathrooms  \
18482  4389201095  20150511T000000  3650000.0         5       3.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
18482         5020      8694     2.0           0     1  ...     12

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
18482        3970           1050      2007             0    98004  47.6146

          long  sqft_living15  sqft_lot15
18482 -122.213           4190       11275

[1 rows x 21 columns]


Year: 2008
              id             date      price  bedrooms  bathrooms  \
4149  6447300265  20141014T000000  4000000.0         4        5.5

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
4149         7080     16573     2.0           0     0  ...     12        5760

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
4149           1320      2008             0    98039  47.6151 -122.224

      sqft_living15  sqft_lot15
4149           3140       15996

[1 rows x 21 columns]


Year: 2009
              id             date      price  bedrooms  bathrooms  \
1448  8907500070  20150413T000000  5350000.0         5        5.0

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
1448         8000     23985     2.0           0     4  ...     12        6720

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
1448           1280      2009             0    98004  47.6232 -122.22

      sqft_living15  sqft_lot15
1448           4600       21750

[1 rows x 21 columns]


Year: 2010
               id             date      price  bedrooms  bathrooms  \
20154  1176001310  20150304T000000  2950000.0         5       4.50
20535  1370800515  20141030T000000  2950000.0         4       4.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
20154         4340      5722     3.0           0     4  ...     10
20535         4470      5884     2.0           0     1  ...     11

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
20154        4340              0      2010             0    98107  47.6715
20535        3230           1240      2010             0    98199  47.6387

          long  sqft_living15  sqft_lot15
20154 -122.406           1770        5250
20535 -122.405           2570        6000

[2 rows x 21 columns]


Year: 2011
              id             date      price  bedrooms  bathrooms  \
7432  5316100780  20140922T000000  2580000.0         4        3.5

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
7432         3280      3800     2.0           0     0  ...     11        2880

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
7432            400      2011             0    98112  47.6299 -122.28

      sqft_living15  sqft_lot15
7432           2050        3800

[1 rows x 21 columns]


Year: 2012
               id             date      price  bedrooms  bathrooms  \
10468  1732800310  20150302T000000  2000000.0         4       3.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
10468         2870      4500     2.0           0     3  ...     10

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
10468        2510            360      2012             0    98119  47.6291

          long  sqft_living15  sqft_lot15
10468 -122.363           2870        6354

[1 rows x 21 columns]


Year: 2013
               id             date      price  bedrooms  bathrooms  \
21530  8964800330  20150407T000000  3000000.0         4       3.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
21530         5090     14823     1.0           0     0  ...     11

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode    lat  \
21530        4180            910      2013             0    98004  47.62

          long  sqft_living15  sqft_lot15
21530 -122.207           3030       12752

[1 rows x 21 columns]


Year: 2014
              id             date      price  bedrooms  bathrooms  \
5880  2525049148  20141007T000000  3420000.0         5        5.0

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
5880         5450     20412     2.0           0     0  ...     11        5450

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5880              0      2014             0    98039  47.6209 -122.237

      sqft_living15  sqft_lot15
5880           3160       17825

[1 rows x 21 columns]


Year: 2015
               id             date      price  bedrooms  bathrooms  \
21333  2424059174  20150508T000000  2000000.0         4       3.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
21333         5640     35006     2.0           0     2  ...     11

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
21333        4900            740      2015             0    98006  47.5491

          long  sqft_living15  sqft_lot15
21333 -122.104           4920       35033

[1 rows x 21 columns]

**Year: 2000,Price:3710000 <br>
Year: 2001, Price: 6890000<br>
Year: 2002, Price: 3080000<br>
Year: 2003, Price: 4210000<br>
Year: 2004, Price: 4500000<br>
Year: 2005, Price: 3640000<br>
Year: 2006, Price: 3100000<br>
Year: 2007, Price: 3650000<br>
Year: 2000, Price: 4000000<br>
Year: 2000, Price: 5350000<br>
Year: 2000, Price: 2950000<br>
Year: 2000, Price: 2580000<br>
Year: 2000, Price: 2000000<br>
Year: 2000, Price: 3000000<br>
Year: 2000, Price: 3420000<br>
Year: 2000, Price: 2000000<br>**

## 2. Find the houses with the most bedrooms, bathrooms, and floors (each one separatley), for each year starting 2000.

In [71]:
for year in range(2000, 2016):
    most_bedrooms_house = df.loc[(df["yr_built"] == year) & (df["bedrooms"] == df[df["yr_built"] == year]["bedrooms"].max())]
    most_bathrooms_house = df.loc[(df["yr_built"] == year) & (df["bathrooms"] == df[df["yr_built"] == year]["bathrooms"].max())]
    most_floors_house = df.loc[(df["yr_built"] == year) & (df["floors"] == df[df["yr_built"] == year]["floors"].max())]
    
    if not most_bedrooms_house.empty:
        print(f"Year: {year} - Most Bedrooms:")
        print(most_bedrooms_house)
        print("\n")
        
    if not most_bathrooms_house.empty:
        print(f"Year: {year} - Most Bathrooms:")
        print(most_bathrooms_house)
        print("\n")
        
    if not most_floors_house.empty:
        print(f"Year: {year} - Most Floors:")
        print(most_floors_house)
        print("\n")

Year: 2000 - Most Bedrooms:
              id             date      price  bedrooms  bathrooms  \
2668  4139500200  20150305T000000  1380000.0         6        4.5
7681  9286000150  20150330T000000  1130000.0         6        4.0

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
2668         5740     10312     2.0           0     2  ...     11        3610
7681         5330     18116     2.0           0     0  ...     11        3950

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
2668           2130      2000             0    98006  47.5533 -122.110
7681           1380      2000             0    98006  47.5503 -122.137

      sqft_living15  sqft_lot15
2668           4350       11917
7681           4590       16900

[2 rows x 21 columns]


Year: 2000 - Most Bathrooms:
              id             date      price  bedrooms  bathrooms  \
6501  2626069030  20150209T000000  1940000.0         4       5.75

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
6501         7220    223462     2.0           0     4  ...     12        6220

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
6501           1000      2000             0    98053  47.7097 -122.013

      sqft_living15  sqft_lot15
6501           2680        7593

[1 rows x 21 columns]


Year: 2000 - Most Floors:
               id             date      price  bedrooms  bathrooms  \
438    9528102772  20140708T000000   438000.0         2       2.00
953    7517500611  20140521T000000   720000.0         3       2.50
1694   8902500118  20140812T000000   326000.0         3       2.50
2855   9828702812  20140923T000000   582000.0         4       3.00
3784   9521100855  20140610T000000   440000.0         3       1.50
5403   7169200221  20141023T000000   497000.0         3       2.25
5671   2767700022  20150113T000000   500000.0         3       3.25
5732   9528102771  20140904T000000   499000.0         3       2.50
6751    993000950  20140906T000000   320000.0         2       1.50
9484   2267000458  20150501T000000   497000.0         3       2.50
10340  3259400030  20141125T000000   370000.0         2       1.00
10793  1972200696  20141006T000000   521000.0         3       3.25
10951   853600310  20140828T000000  1610000.0         5       4.50
11643   476000338  20150225T000000   491000.0         3       2.00
13206  2026049183  20150402T000000   324950.0         2       1.50
13260  7517500610  20150304T000000   781000.0         3       2.50
13288  6145601312  20141029T000000   322000.0         3       3.25
14741  2767603577  20150506T000000   475000.0         2       1.50
15682  2767604551  20140822T000000   371000.0         2       1.50
16756  2770601763  20150323T000000   450000.0         3       3.50
17462  1972200698  20140528T000000   474800.0         2       3.25
19519   993002177  20150506T000000   345000.0         3       2.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
438           1270      1372     3.0           0     0  ...      8
953           2020      1159     3.0           0     3  ...      8
1694          1782      1577     3.0           0     0  ...      7
2855          1670      1189     3.0           0     0  ...      8
3784          1290      1286     3.0           0     0  ...      7
5403          1450      1387     3.0           0     0  ...      8
5671          1520      1500     3.0           0     0  ...      7
5732          1610      1728     3.0           0     0  ...      8
6751          1110      1200     3.0           0     0  ...      8
9484          1220      1475     3.0           0     0  ...      8
10340         1270      1399     3.0           0     0  ...      7
10793         1460      1254     3.0           0     0  ...      8
10951         6085    142725     3.0           0     0  ...     11
11643         1250      1306     3.0           0     0  ...      7
13206         1230      1516     3.0           0     0  ...      8
13260         1920      1896     3.0           0     3  ...      8
13288         1380      1225     3.0           0     0  ...      7
14741         1170      1250     3.0           0     0  ...      8
15682         1110      1189     3.0           0     0  ...      8
16756         1790      1288     3.0           0     0  ...      8
17462         1400      1243     3.0           0     0  ...      8
19519         1380      1547     3.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
438          1270              0      2000             0    98115  47.6776
953          2020              0      2000             0    98103  47.6617
1694         1782              0      2000             0    98125  47.7114
2855         1427            243      2000             0    98122  47.6182
3784         1290              0      2000             0    98103  47.6617
5403         1450              0      2000             0    98115  47.6765
5671         1520              0      2000             0    98107  47.6700
5732         1610              0      2000             0    98115  47.6776
6751         1110              0      2000             0    98103  47.6931
9484         1220              0      2000             0    98117  47.6909
10340        1270              0      2000             0    98136  47.5552
10793        1460              0      2000             0    98103  47.6535
10951        6085              0      2000             0    98014  47.6085
11643        1250              0      2000             0    98107  47.6705
13206        1230              0      2000             0    98125  47.7265
13260        1920              0      2000             0    98103  47.6616
13288        1380              0      2000             0    98133  47.7035
14741        1170              0      2000             0    98107  47.6719
15682        1110              0      2000             0    98107  47.6711
16756        1390            400      2000             0    98199  47.6510
17462        1400              0      2000             0    98103  47.6534
19519        1380              0      2000             0    98103  47.6908

          long  sqft_living15  sqft_lot15
438   -122.318           1610        3090
953   -122.356           1920        3600
1694  -122.301           1550        1744
2855  -122.302           1700        1401
3784  -122.349           1720        1286
5403  -122.302           1450        1429
5671  -122.389           1520        1323
5732  -122.318           1540        3090
6751  -122.342           1110        1363
9484  -122.395           1220        1546
10340 -122.381           1140        1442
10793 -122.353           1400        1255
10951 -121.952           4830      128457
11643 -122.390           1320        1306
13206 -122.314           1352        1411
13260 -122.356           1670        2994
13288 -122.351           1380        1704
14741 -122.380           1310        1308
15682 -122.377           1420        1311
16756 -122.384           1560        1426
17462 -122.353           1400        1335
19519 -122.341           1380        1465

[22 rows x 21 columns]


Year: 2001 - Most Bedrooms:
              id             date     price  bedrooms  bathrooms  sqft_living  \
12017  424069271  20141024T000000  936000.0         7       3.75         5100

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
12017     21802     2.0           0     0  ...     10        3640

       sqft_basement  yr_built  yr_renovated  zipcode     lat    long  \
12017           1460      2001             0    98075  47.595 -122.04

       sqft_living15  sqft_lot15
12017           3350       10005

[1 rows x 21 columns]


Year: 2001 - Most Bathrooms:
              id             date      price  bedrooms  bathrooms  \
9254  9208900037  20140919T000000  6890000.0         6       7.75

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
9254         9890     31374     2.0           0     4  ...     13        8860

      sqft_basement  yr_built  yr_renovated  zipcode      lat    long  \
9254           1030      2001             0    98039  47.6305 -122.24

      sqft_living15  sqft_lot15
9254           4540       42730

[1 rows x 21 columns]


Year: 2001 - Most Floors:
               id             date      price  bedrooms  bathrooms  \
406    7821200390  20140806T000000   450000.0         3       2.00
1098   9158100116  20150406T000000   285000.0         2       1.50
2017   3383900058  20141118T000000   580000.0         3       3.25
2347    476000335  20141217T000000   430000.0         2       1.50
3749   3383900057  20141203T000000   500000.0         3       3.25
6688   1868901190  20140807T000000   650000.0         4       2.25
6855   1102000527  20140902T000000  1440000.0         4       3.75
9377   2767603608  20141002T000000   405000.0         2       1.50
10352   820000012  20140827T000000   401000.0         3       3.25
10392  8129700565  20141008T000000   601450.0         2       3.25
11182  3047700045  20140717T000000   525000.0         3       2.25
11233  2655500241  20140814T000000  1700000.0         3       3.25
11495  9528104286  20150113T000000   455000.0         2       1.50
13373   476000333  20140827T000000   418000.0         3       2.00
15756   477000019  20140620T000000   525000.0         3       2.25
15875  9528104360  20140912T000000   435000.0         2       1.50
16923  8673400086  20140502T000000   445700.0         3       2.50
18541   820000018  20141014T000000   387500.0         3       3.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
406           1290      1213     3.0           0     0  ...      8
1098           990      1380     3.0           0     0  ...      7
2017          1490       857     3.0           0     0  ...      8
2347          1320      1194     3.0           0     0  ...      7
3749          1490       902     3.0           0     0  ...      8
6688          2100      2500     3.0           0     0  ...      8
6855          4410      9231     3.0           0     3  ...     11
9377          1170      1274     3.0           0     0  ...      8
10352         1770      1977     3.0           0     0  ...      8
10392         1840      1500     3.0           0     0  ...      8
11182         2110      2850     3.0           0     0  ...      8
11233         4160     35153     3.0           0     2  ...     12
11495         1020      1146     3.0           0     0  ...      7
13373         1250      1306     3.0           0     0  ...      7
15756         1750      1879     3.0           0     0  ...      8
15875          901      1245     3.0           0     0  ...      7
16923         1270      1180     3.0           0     0  ...      8
18541         1860      2218     3.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
406          1290              0      2001             0    98103  47.6609
1098          990              0      2001             0    98133  47.7218
2017         1220            270      2001             0    98102  47.6357
2347         1320              0      2001             0    98107  47.6704
3749         1220            270      2001             0    98102  47.6357
6688         2100              0      2001             0    98115  47.6726
6855         4410              0      2001             0    98118  47.5427
9377         1170              0      2001             0    98107  47.6719
10352        1770              0      2001             0    98125  47.7186
10392        1840              0      2001             0    98103  47.6595
11182        2110              0      2001             0    98103  47.6915
11233        3690            470      2001             0    98040  47.5749
11495        1020              0      2001             0    98115  47.6774
13373        1250              0      2001             0    98107  47.6705
15756        1750              0      2001             0    98107  47.6722
15875         901              0      2001             0    98115  47.6774
16923        1270              0      2001             0    98107  47.6697
18541        1860              0      2001             0    98125  47.7185

          long  sqft_living15  sqft_lot15
406   -122.344           1290        3235
1098  -122.356           1050        1380
2017  -122.324           1550        1092
2347  -122.390           1320        1250
3749  -122.324           1550        1092
6688  -122.298           1660        4000
6855  -122.265           2160        6600
9377  -122.381           1290        1308
10352 -122.314           1860        2210
10392 -122.354           1910        2500
11182 -122.339           1340        5001
11233 -122.214           3290       11533
11495 -122.325           1138        1156
13373 -122.390           1320        1250
15756 -122.391           1750        3155
15875 -122.325           1138        1137
16923 -122.392           1320        1180
18541 -122.313           1860        2218

[18 rows x 21 columns]


Year: 2002 - Most Bedrooms:
               id             date      price  bedrooms  bathrooms  \
1539   3425059222  20141124T000000  1300000.0         6       3.50
11685  1126069045  20140620T000000  1140000.0         6       4.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
1539          6563     32670     2.0           0     0  ...     10
11685         6900    244716     2.0           0     0  ...      9

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
1539         5153           1410      2002             0    98005  47.6078
11685        4820           2080      2002             0    98077  47.7506

          long  sqft_living15  sqft_lot15
1539  -122.157           2610       22651
11685 -122.012           4170      266587

[2 rows x 21 columns]


Year: 2002 - Most Bathrooms:
             id             date      price  bedrooms  bathrooms  sqft_living  \
300  3225069065  20140624T000000  3080000.0         4        5.0         4550

     sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
300     18641     1.0           1     4  ...     10        2600

     sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
300           1950      2002             0    98074  47.6053 -122.077

     sqft_living15  sqft_lot15
300           4550       19508

[1 rows x 21 columns]


Year: 2002 - Most Floors:
               id             date      price  bedrooms  bathrooms  \
667    3300701615  20140930T000000   655000.0         4       2.50
1107   2770604942  20141230T000000   609850.0         2       2.75
3711   4447300008  20140923T000000   530000.0         3       1.50
6468   5694000768  20140922T000000   550000.0         3       2.25
6734   3188100007  20141022T000000   380000.0         3       2.50
7077   2724079090  20150105T000000  1650000.0         4       3.25
8428    263000329  20141008T000000   349950.0         3       2.50
8751   2767604712  20140919T000000   437500.0         3       2.50
9911    263000327  20150227T000000   400000.0         3       2.50
10817  4139480350  20150113T000000  1690000.0         4       4.00
11874  3931900510  20140829T000000  1400000.0         4       2.50
12841   263000325  20140611T000000   349000.0         3       2.50
21067  6300500081  20140806T000000   300000.0         3       2.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
667           2630      4000     3.0           0     0  ...      8
1107          1910      1369     3.0           0     0  ...      9
3711          1950      1963     3.0           0     0  ...      8
6468          1700      1481     3.0           0     0  ...      8
6734          1610      1778     3.0           0     0  ...      7
7077          3920    881654     3.0           0     3  ...     11
8428          1420      1162     3.0           0     0  ...      8
8751          1260      1125     3.0           0     0  ...      8
9911          1460      1319     3.0           0     0  ...      8
10817         5000     12941     3.0           0     2  ...     12
11874         4070      7800     3.0           0     0  ...      8
12841         1430      1002     3.0           0     0  ...      8
21067         1330      1200     3.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
667          2630              0      2002             0    98117  47.6915
1107         1910              0      2002             0    98119  47.6544
3711         1950              0      2002             0    98117  47.6904
6468         1700              0      2002             0    98103  47.6598
6734         1610              0      2002             0    98115  47.6902
7077         3920              0      2002             0    98024  47.5385
8428         1420              0      2002             0    98103  47.6982
8751         1260              0      2002             0    98107  47.6706
9911         1460              0      2002             0    98103  47.6980
10817        5000              0      2002             0    98006  47.5500
11874        3390            680      2002             0    98115  47.6838
12841        1430              0      2002             0    98103  47.6980
21067        1330              0      2002             0    98133  47.7034

          long  sqft_living15  sqft_lot15
667   -122.381           1640        4000
1107  -122.373           1910        1879
3711  -122.397           1590        2028
6468  -122.349           1560        1350
6734  -122.306           1120        2187
7077  -121.896           2970      112384
8428  -122.349           1430        1560
8751  -122.381           1360        1250
9911  -122.349           1430        1530
10817 -122.103           4560       12941
11874 -122.327           2020        6760
12841 -122.349           1430        1530
21067 -122.344           1330        1206

[13 rows x 21 columns]


Year: 2003 - Most Bedrooms:
               id             date      price  bedrooms  bathrooms  \
2852   7202331220  20140721T000000   635000.0         6       2.50
14865  2617900035  20141201T000000  1520000.0         6       3.50
19109  6699000740  20150421T000000   359500.0         6       3.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
2852          3880      5700     2.0           0     0  ...      7
14865         3720     11690     2.0           0     0  ...     10
19109         3190      4700     2.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
2852         3880              0      2003             0    98053  47.6816
14865        3720              0      2003             0    98040  47.5699
19109        3190              0      2003             0    98042  47.3724

          long  sqft_living15  sqft_lot15
2852  -122.038           2620        5070
14865 -122.226           3030       11686
19109 -122.105           2680        5640

[3 rows x 21 columns]


Year: 2003 - Most Bathrooms:
               id             date      price  bedrooms  bathrooms  \
12370  6065300370  20150506T000000  4210000.0         5        6.0

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
12370         7440     21540     2.0           0     0  ...     12

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
12370        5550           1890      2003             0    98006  47.5692

          long  sqft_living15  sqft_lot15
12370 -122.189           4740       19329

[1 rows x 21 columns]


Year: 2003 - Most Floors:
               id             date      price  bedrooms  bathrooms  \
985    9528104108  20140529T000000   535000.0         3       2.50
1267   4310701600  20141113T000000   340000.0         3       2.50

Year: 2007 - Most Bedrooms:
               id             date      price  bedrooms  bathrooms  \
2345   3185600055  20140611T000000   495000.0         6       5.00
7415   5017000470  20140710T000000  1980000.0         6       4.50
20578   424069279  20150328T000000  1180000.0         6       6.50
20838  3425069117  20140828T000000  1280000.0         6       5.25
21186  7896300592  20150114T000000   303500.0         6       4.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
2345          3440      4500     2.0           0     0  ...      8
7415          4800      9097     2.0           0     0  ...     10
20578         6260     10955     2.0           0     0  ...     11
20838         6160     27490     2.0           0     0  ...     11
21186         3390      7200     2.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
2345         3280            160      2007             0    98055  47.4871
7415         3580           1220      2007             0    98112  47.6259
20578        4840           1420      2007             0    98075  47.5947
20838        4040           2120      2007             0    98074  47.6094
21186        2440            950      2007             0    98118  47.5205

          long  sqft_living15  sqft_lot15
2345  -122.219           1400        5500
7415  -122.291           2180        6037
20578 -122.039           2710       12550
20838 -122.023           4225        9100
21186 -122.288           2040        7214

[5 rows x 21 columns]


Year: 2007 - Most Bathrooms:
              id             date      price  bedrooms  bathrooms  \
20578  424069279  20150328T000000  1180000.0         6        6.5

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
20578         6260     10955     2.0           0     0  ...     11

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
20578        4840           1420      2007             0    98075  47.5947

          long  sqft_living15  sqft_lot15
20578 -122.039           2710       12550

[1 rows x 21 columns]


Year: 2007 - Most Floors:
               id             date     price  bedrooms  bathrooms  \
20308  1972200426  20140918T000000  525000.0         2       2.75
20772  1972200428  20140625T000000  563500.0         3       2.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
20308         1310      1268     3.5           0     0  ...      8
20772         1400      1312     3.5           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
20308        1310              0      2007             0    98103  47.6534
20772        1400              0      2007             0    98103  47.6534

          long  sqft_living15  sqft_lot15
20308 -122.355           1350        1288
20772 -122.355           1350        1312

[2 rows x 21 columns]


Year: 2008 - Most Bedrooms:
              id             date      price  bedrooms  bathrooms  \
13314  627300145  20140814T000000  1150000.0        10       5.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
13314         4590     10920     1.0           0     2  ...      9

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
13314        2500           2090      2008             0    98004  47.5861

          long  sqft_living15  sqft_lot15
13314 -122.113           2730       10400

[1 rows x 21 columns]


Year: 2008 - Most Bathrooms:
               id             date      price  bedrooms  bathrooms  \
4149   6447300265  20141014T000000  4000000.0         4        5.5
20233  5710000005  20140522T000000  2150000.0         4        5.5
20452  1125079111  20150415T000000  1600000.0         4        5.5

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
4149          7080     16573     2.0           0     0  ...     12
20233         5060     10320     2.0           0     0  ...     11
20452         6530    871200     2.0           0     2  ...     11

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
4149         5760           1320      2008             0    98039  47.6151
20233        5060              0      2008             0    98004  47.6245
20452        6530              0      2008             0    98014  47.6640

          long  sqft_living15  sqft_lot15
4149  -122.224           3140       15996
20233 -122.210           3010       10080
20452 -121.878           1280      858132

[3 rows x 21 columns]


Year: 2008 - Most Floors:
               id             date     price  bedrooms  bathrooms  \
15424  1702900664  20150416T000000  479000.0         2        2.5

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
15424         1730      1037     3.5           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
15424        1730              0      2008             0    98118  47.5594

          long  sqft_living15  sqft_lot15
15424 -122.285           1280        1026

[1 rows x 21 columns]


Year: 2009 - Most Bedrooms:
               id             date     price  bedrooms  bathrooms  \
20984  2149800278  20141015T000000  343000.0         6        5.0

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
20984         2732      7655     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
20984        2732              0      2009             0    98002  47.3045

          long  sqft_living15  sqft_lot15
20984 -122.211           3078       69993

[1 rows x 21 columns]


Year: 2009 - Most Bathrooms:
               id             date      price  bedrooms  bathrooms  \
1448   8907500070  20150413T000000  5350000.0         5        5.0
20984  2149800278  20141015T000000   343000.0         6        5.0

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
1448          8000     23985     2.0           0     4  ...     12
20984         2732      7655     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
1448         6720           1280      2009             0    98004  47.6232
20984        2732              0      2009             0    98002  47.3045

          long  sqft_living15  sqft_lot15
1448  -122.220           4600       21750
20984 -122.211           3078       69993

[2 rows x 21 columns]


Year: 2009 - Most Floors:
               id             date     price  bedrooms  bathrooms  \
2478   4358700186  20141211T000000  275000.0         3       2.25
3724   9828702251  20140623T000000  579000.0         3       2.50
5079   6873000190  20150311T000000  656000.0         2       2.50
6240   6848200221  20140902T000000  635000.0         3       3.50
6724   1473200170  20140729T000000  305000.0         3       2.50
7151   1473200130  20150320T000000  303000.0         3       2.25
7318   4358700188  20150331T000000  305000.0         3       2.50
8404   1473200150  20141216T000000  315000.0         3       2.25
11804  4442800162  20150414T000000  527700.0         2       2.25
13121  4442800166  20150407T000000  510000.0         3       3.00
13127  6873000150  20141208T000000  465000.0         2       2.25
14586  1139000072  20150403T000000  325000.0         2       1.50
14849  6873000120  20140512T000000  420000.0         2       2.50
15500  8730000250  20150205T000000  360000.0         2       1.75
19646   832700320  20150209T000000  348000.0         3       2.50
19692   832700240  20141003T000000  325000.0         3       1.50
19757  9268850030  20140707T000000  420000.0         3       2.25
19853   832700270  20150213T000000  318000.0         3       1.50
19957  1732800194  20141113T000000  840000.0         2       2.50
20003  3753000100  20140828T000000  399000.0         3       3.00
20070  1383800015  20150108T000000  524000.0         3       2.25
20132  1890000170  20141029T000000  552000.0         3       2.50
20202   328000182  20150501T000000  613500.0         3       3.25
20317  3413700130  20140625T000000  425000.0         3       2.50
20478  1890000166  20140905T000000  540000.0         3       2.50
20529  7658600082  20141114T000000  565000.0         2       2.50
20628  3753000030  20140527T000000  399950.0         3       3.00
20654   173000036  20141007T000000  327000.0         3       3.00
20692  3274800505  20150424T000000  502000.0         3       2.50
20717  9352900200  20150407T000000  285000.0         3       2.50
20863  7658600081  20140919T000000  555000.0         2       2.75
20871   666000142  20150326T000000  798500.0         3       3.00
21025  3879900753  20141114T000000  727000.0         3       2.50
21074   263000006  20141216T000000  375000.0         3       2.50
21126  1890000169  20140903T000000  545000.0         3       2.50
21152  9268850290  20150306T000000  450000.0         3       2.25
21176  3876900089  20150430T000000  687015.0         3       1.75
21213   666000143  20141229T000000  785000.0         3       3.00
21216  5100403818  20150220T000000  369500.0         3       2.00
21285   832700170  20150421T000000  319000.0         2       1.50
21317  1732800199  20150511T000000  935000.0         2       2.50
21329   263000009  20150129T000000  375000.0         3       2.50
21371  3753000010  20140507T000000  417250.0         3       2.25
21395  3879900754  20140915T000000  779000.0         3       2.50
21491  9268850040  20150327T000000  484000.0         3       2.25
21516  2768100206  20141001T000000  440000.0         3       2.25
21539  8902000201  20150219T000000  338500.0         3       2.25
21586  2767604724  20141015T000000  505000.0         2       2.50
21608   263000018  20140521T000000  360000.0         3       2.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
2478          1260      1488     3.0           0     0  ...      7
3724          1640      1269     3.0           0     0  ...      8
5079          2270      1763     3.0           0     0  ...      7
6240          1730      1349     3.0           0     0  ...      9
6724          1260      1622     3.0           0     0  ...      8
7151          1340       873     3.0           0     0  ...      8
7318          1260       895     3.0           0     0  ...      7
8404          1370      1533     3.0           0     0  ...      8
11804         1330       806     3.0           0     0  ...      8
13121         1320      1012     3.0           0     0  ...      8
13127         1390      1222     3.0           0     0  ...      7
14586         1180       834     3.0           0     0  ...      8
14849         1480      1369     3.0           0     0  ...      7
15500         1340      1050     3.0           0     0  ...      8
19646         1490      2478     3.0           0     0  ...      8
19692         1270      1067     3.0           0     0  ...      8
19757         1620      1075     3.0           0     0  ...      8
19853         1240       983     3.0           0     0  ...      8
19957         1680       975     3.0           0     0  ...      9
20003         1520      1884     3.0           0     0  ...      8
20070         1370      1007     3.0           0     0  ...      8
20132         1280      1920     3.0           0     0  ...      8
20202         1876      1531     3.0           0     0  ...      9
20317         2320      2267     3.0           0     0  ...      8
20478         1280      1889     3.0           0     0  ...      8
20529         1950      2457     3.0           0     0  ...      8
20628         1296      1051     3.0           0     0  ...      8
20654         1370      1001     3.0           0     0  ...      8
20692         1600      3073     3.0           0     0  ...      8
20717         1320       955     3.0           0     0  ...      7
20863         1950      1610     3.0           0     0  ...      8
20871         1950      1833     3.0           0     0  ...      9
21025         1580       991     3.0           0     0  ...      9
21074         1530      1131     3.0           0     0  ...      8
21126         1280      1845     3.0           0     0  ...      8
21152         1620      1057     3.0           0     0  ...      8
21176         1470       873     3.0           0     0  ...     10
21213         1950      1983     3.0           0     0  ...      9
21216         1108      1128     3.0           0     0  ...      7
21285         1090       847     3.0           0     0  ...      8
21317         1680       977     3.0           0     0  ...      9
21329         1440      1102     3.0           0     0  ...      8
21371         1606      1452     3.0           0     0  ...      8
21395         1580      1487     3.0           0     1  ...      9
21491         1620      1425     3.0           0     0  ...      8
21516         1230      1097     3.0           0     0  ...      8
21539         1333      1470     3.0           0     3  ...      7
21586         1430      1201     3.0           0     0  ...      8
21608         1530      1131     3.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
2478         1260              0      2009             0    98133  47.7071
3724         1640              0      2009             0    98112  47.6197
5079         1820            450      2009             0    98052  47.6757
6240         1350            380      2009             0    98102  47.6224
6724         1260              0      2009             0    98133  47.7325
7151         1340              0      2009             0    98133  47.7325
7318         1160            100      2009             0    98133  47.7072
8404         1370              0      2009             0    98133  47.7326
11804        1330              0      2009             0    98117  47.6904
13121        1320              0      2009             0    98117  47.6904
13127        1340             50      2009             0    98052  47.6754
14586        1180              0      2009             0    98133  47.7074
14849        1480              0      2009             0    98052  47.6760
15500        1340              0      2009             0    98133  47.7053
19646        1490              0      2009             0    98133  47.7236
19692        1270              0      2009             0    98133  47.7236
19757        1540             80      2009             0    98027  47.5405
19853        1240              0      2009             0    98133  47.7235
19957        1680              0      2009             0    98119  47.6321
20003        1520              0      2009             0    98125  47.7176
20070        1330             40      2009             0    98107  47.6682
20132        1280              0      2009             0    98105  47.6621
20202        1876              0      2009             0    98115  47.6864
20317        2320              0      2009             0    98177  47.7027
20478        1280              0      2009             0    98105  47.6619
20529        1950              0      2009             0    98144  47.5925
20628        1296              0      2009             0    98125  47.7175
20654        1370              0      2009             0    98133  47.7302
20692        1600              0      2009             0    98144  47.5934
20717        1320              0      2009             0    98106  47.5202
20863        1950              0      2009             0    98144  47.5925
20871        1610            340      2009             0    98004  47.6078
21025        1580              0      2009             0    98119  47.6276
21074        1530              0      2009             0    98103  47.6993
21126        1280              0      2009             0    98105  47.6620
21152        1540             80      2009             0    98027  47.5396
21176        1470              0      2009             0    98119  47.6256
21213        1610            340      2009             0    98004  47.6078
21216        1108              0      2009             0    98115  47.6961
21285        1090              0      2009             0    98133  47.7235
21317        1680              0      2009             0    98119  47.6320
21329        1440              0      2009             0    98103  47.6995
21371        1606              0      2009             0    98125  47.7175
21395        1580              0      2009             0    98119  47.6276
21491        1540             80      2009             0    98027  47.5405
21516        1230              0      2009             0    98107  47.6697
21539        1333              0      2009             0    98125  47.7058
21586        1430              0      2009             0    98107  47.6707
21608        1530              0      2009             0    98103  47.6993

          long  sqft_living15  sqft_lot15
2478  -122.336           1190        1095
3724  -122.300           1590        1231
5079  -122.121           2180        1763
6240  -122.326           1830        3300
6724  -122.343           1340        1188
7151  -122.343           1340        1186
7318  -122.336           1190        1095
8404  -122.343           1370        1125
11804 -122.395           1320        1389
13121 -122.395           1320        1536
13127 -122.121           1480        1369
14586 -122.356           1180        1207
14849 -122.121           1390        1337
15500 -122.343           1340        1090
19646 -122.353           1270        1156
19692 -122.353           1090        1118
19757 -122.026           1620        1237
19853 -122.353           1240        1026
19957 -122.361           1680         977
20003 -122.284           1360        1939
20070 -122.361           1570        1635
20132 -122.324           1450        1900
20202 -122.265           1876        1533
20317 -122.359           1240        1883
20478 -122.324           1450        1889
20529 -122.302           1650        1639
20628 -122.284           1520        1939
20654 -122.355           1399        1151
20692 -122.298           1130        2921
20717 -122.357           1300        1003
20863 -122.302            910        1745
20871 -122.202           2040        2131
21025 -122.359           1610        1297
21074 -122.346           1530        1445
21126 -122.324           1450        1889
21152 -122.026           1390         942
21176 -122.362           1410         967
21213 -122.202           2040        2131
21216 -122.318           1285        1253
21285 -122.352           1090        1118
21317 -122.361           1680         977
21329 -122.346           1440        1434
21371 -122.284           1516        1939
21395 -122.359           1610        1297
21491 -122.026           1620        1237
21516 -122.372           1420        1437
21539 -122.302           1360        1680
21586 -122.381           1430        1249
21608 -122.346           1530        1509

[49 rows x 21 columns]


Year: 2010 - Most Bedrooms:
               id             date      price  bedrooms  bathrooms  \
1877   1853081000  20140717T000000   820000.0         5       2.75
5675   7933250050  20141028T000000  1420000.0         5       3.25
12609   269000970  20150402T000000  1300000.0         5       3.75
20154  1176001310  20150304T000000  2950000.0         5       4.50
20178  9512200050  20140827T000000   551000.0         5       3.75
20821  6719600030  20150422T000000   837000.0         5       2.75
21374  1773600264  20150223T000000   705000.0         5       3.50
21506  2524069097  20140509T000000  2240000.0         5       6.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
1877          2830      6137     2.0           0     0  ...      9
5675          4020      4500     2.0           0     0  ...      9

Year: 2012 - Most Bedrooms:
               id             date     price  bedrooms  bathrooms  \
19793  5609000311  20150410T000000  729999.0         6       4.50
20873  8946390040  20140508T000000  375000.0         6       2.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
19793         3600      6110     2.0           0     0  ...      9
20873         3206      5793     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
19793        2510           1090      2012             0    98118  47.5687
20873        3206              0      2012             0    98032  47.3690

          long  sqft_living15  sqft_lot15
19793 -122.291           1360        5800
20873 -122.287           2527        5804

[2 rows x 21 columns]


Year: 2012 - Most Bathrooms:
               id             date     price  bedrooms  bathrooms  \
6389     42000130  20140924T000000  600000.0         5        4.5
19793  5609000311  20150410T000000  729999.0         6        4.5

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
6389          4440      9784     2.0           0     0  ...     10
19793         3600      6110     2.0           0     0  ...      9

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
6389         4440              0      2012             0    98168  47.4702
19793        2510           1090      2012             0    98118  47.5687

          long  sqft_living15  sqft_lot15
6389  -122.275           2720       10080
19793 -122.291           1360        5800

[2 rows x 21 columns]


Year: 2012 - Most Floors:
               id             date      price  bedrooms  bathrooms  \
4346   1112000031  20150318T000000   715000.0         3       2.25
20085  6790830090  20150415T000000  1060000.0         4       3.50
20642  1931300977  20140508T000000   500000.0         3       1.75
21071  2163900081  20150220T000000  1080000.0         3       2.50
21116  6824100029  20141031T000000   474950.0         3       3.00
21253  1972201511  20150210T000000   671500.0         3       2.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
4346          1990      4977     3.0           0     0  ...      9
20085         4220      8417     3.0           0     0  ...     10
20642         1410      1197     3.0           0     0  ...      8
21071         1990      1891     3.0           0     0  ...      9
21116         1530      1568     3.0           0     0  ...      8
21253         1770      1714     3.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
4346         1990              0      2012             0    98118  47.5404
20085        4220              0      2012             0    98075  47.5869
20642        1410              0      2012             0    98103  47.6558
21071        1990              0      2012             0    98102  47.6271
21116        1530              0      2012             0    98117  47.6998
21253        1770              0      2012             0    98103  47.6532

          long  sqft_living15  sqft_lot15
4346  -122.268           1280        5000
20085 -122.054           3730        8435
20642 -122.348           1350        2512
21071 -122.324           1990        3600
21116 -122.367           1460        1224
21253 -122.348           1720        3360

[6 rows x 21 columns]


Year: 2013 - Most Bedrooms:
               id             date      price  bedrooms  bathrooms  \
8120   4006000183  20140909T000000   450000.0         7       4.00
15246  5536100005  20140808T000000  2300000.0         7       4.75

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
8120          3150      7800     2.0           0     0  ...      8
15246         5310      8816     2.0           0     0  ...     10

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
8120         3150              0      2013             0    98118  47.5259
15246        3650           1660      2013             0    98004  47.6221

          long  sqft_living15  sqft_lot15
8120  -122.279           1880        6000
15246 -122.208           2920       10610

[2 rows x 21 columns]


Year: 2013 - Most Bathrooms:
              id             date      price  bedrooms  bathrooms  \
21148  524059063  20140506T000000  1800000.0         5        5.0

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
21148         4490     10279     2.0           0     0  ...     10

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
21148        3930            560      2013             0    98004  47.5974

          long  sqft_living15  sqft_lot15
21148 -122.202           2490       10279

[1 rows x 21 columns]


Year: 2013 - Most Floors:
               id             date      price  bedrooms  bathrooms  \
1931   5379804150  20150211T000000   598800.0         6       4.00
5025   3362401611  20150325T000000  1170000.0         4       3.75
8390   2767602094  20140516T000000   565000.0         3       2.25
11025  2625059301  20150324T000000   760000.0         4       3.25
15286  7011201306  20150212T000000  1120000.0         4       4.00
17944  9828702588  20150311T000000   906000.0         3       2.50
19667  9831200172  20150227T000000  1450000.0         4       3.50
19882  1972200139  20150218T000000   622500.0         2       1.75
19922  2770602493  20141120T000000   455000.0         2       2.00
19958  5015001452  20150414T000000   950000.0         3       2.50
20337  6821101732  20150219T000000   550000.0         3       2.25
20694  6371000079  20140714T000000   575000.0         4       2.25
21112  2770601457  20150210T000000   542300.0         3       2.25
21284  9521100029  20140716T000000   716000.0         3       3.00
21441  9544700730  20140515T000000   914500.0         4       2.50
21481  3331000035  20140527T000000   495000.0         3       2.50
21555  6821101731  20140930T000000   549000.0         3       2.25
21567  9521100031  20140618T000000   690000.0         3       3.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
1931          4470     17877     3.0           0     3  ...      9
5025          3920      4500     3.0           0     0  ...      8
8390          1520      1221     3.0           0     0  ...      8
11025         2590      3889     3.0           0     0  ...      9
15286         2530      1774     3.0           0     2  ...      9
17944         2030      1800     3.0           0     0  ...      9
19667         2860      2199     3.0           0     0  ...     10
19882         1510       851     3.0           0     0  ...      8
19922         1350      1209     3.0           0     0  ...      8
19958         2280      2296     3.0           0     0  ...      9
20337         1230       875     3.0           0     0  ...      8
20694         2070      1230     3.0           0     0  ...      9
21112         1580      1487     3.0           0     0  ...      9
21284         1660      1849     3.0           0     0  ...      9
21441         3950     10856     3.0           0     0  ...     10
21481         1750      1548     3.0           0     0  ...      9
21555         1230      1380     3.0           0     0  ...      8
21567         1540      1428     3.0           0     0  ...      9

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
1931         3230           1240      2013             0    98188  47.4514
5025         3920              0      2013             0    98103  47.6805
8390         1520              0      2013             0    98107  47.6740
11025        2590              0      2013             0    98007  47.6259
15286        2100            430      2013             0    98119  47.6362
17944        2030              0      2013             0    98112  47.6199
19667        2860              0      2013             0    98102  47.6262
19882        1420             90      2013             0    98107  47.6536
19922        1350              0      2013             0    98199  47.6490
19958        1890            390      2013             0    98112  47.6256
20337        1230              0      2013             0    98199  47.6521
20694        1500            570      2013             0    98116  47.5775
21112        1580              0      2013             0    98199  47.6514
21284        1660              0      2013             0    98103  47.6649
21441        3950              0      2013             0    98075  47.5818
21481        1750              0      2013             0    98118  47.5532
21555        1230              0      2013             0    98199  47.6521
21567        1540              0      2013             0    98103  47.6648

          long  sqft_living15  sqft_lot15
1931  -122.273           1790       18260
5025  -122.346           2040        3000
8390  -122.377           1550        4750
11025 -122.142           2590        4062
15286 -122.369           2160        2400
17944 -122.300           1450        1441
19667 -122.323           1990        1378
19882 -122.358           1300        1338
19922 -122.383           1310         982
19958 -122.299           1390        4000
20337 -122.400           1760        5664
20694 -122.410           1569        4802
21112 -122.386           1600        1525
21284 -122.353           1660        3300
21441 -121.996           3200       10856
21481 -122.282           1750        3960
21555 -122.400           1760        5664
21567 -122.353           1660        3300

[18 rows x 21 columns]


Year: 2014 - Most Bedrooms:
               id             date      price  bedrooms  bathrooms  \
1882   2402100575  20140613T000000  1130000.0         6       3.75
20326  1725059127  20150225T000000  2350000.0         6       4.25
20655  2862500070  20141209T000000   859950.0         6       4.00
21522   603000555  20150302T000000   462500.0         6       3.00

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
1882          3010      4360     2.0           0     0  ...      9
20326         5550     11547     2.0           0     2  ...     11
20655         3180      6551     2.0           0     0  ...      9
21522         2390      4000     2.0           0     0  ...      7

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
1882         2000           1010      2014             0    98103  47.6873
20326        4270           1280      2014             0    98033  47.6547
20655        3180              0      2014             0    98074  47.6236
21522        2390              0      2014             0    98118  47.5173

          long  sqft_living15  sqft_lot15
1882  -122.333           1600        5160
20326 -122.202           3480       11547
20655 -122.023           3230        7602
21522 -122.286           1680        5000

[4 rows x 21 columns]


Year: 2014 - Most Bathrooms:
              id             date      price  bedrooms  bathrooms  \
5880  2525049148  20141007T000000  3420000.0         5        5.0

      sqft_living  sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
5880         5450     20412     2.0           0     0  ...     11        5450

      sqft_basement  yr_built  yr_renovated  zipcode      lat     long  \
5880              0      2014             0    98039  47.6209 -122.237

      sqft_living15  sqft_lot15
5880           3160       17825

[1 rows x 21 columns]


Year: 2014 - Most Floors:
               id             date     price  bedrooms  bathrooms  \
63     9528102996  20141207T000000  549000.0         3       1.75
139    2767603505  20140507T000000  519950.0         3       2.25
626    7548300731  20140808T000000  559950.0         3       2.50
2025   2767600400  20141118T000000  719950.0         3       2.25
3442   6300500475  20140902T000000  412000.0         3       2.50
...           ...              ...       ...       ...        ...
21498  1972200555  20140714T000000  610000.0         3       1.75
21534   889000025  20140811T000000  599000.0         3       1.75
21552   688000017  20140627T000000  516500.0         1       1.25
21574  1931300090  20140507T000000  610950.0         3       3.00
21604  9834201367  20150126T000000  429000.0         3       2.00

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
63            1540      1044     3.0           0     0  ...      8
139           1170      1249     3.0           0     0  ...      8
626           1660      1458     3.0           0     0  ...      9
2025          2190      2416     3.0           0     0  ...      8
3442          1553      1991     3.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21498         1630      1500     3.0           0     0  ...      8
21534         1650      1180     3.0           0     0  ...      8
21552         1100       638     3.0           0     0  ...      9
21574         1680      1570     3.0           0     0  ...      8
21604         1490      1126     3.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
63           1540              0      2014             0    98115  47.6765
139          1170              0      2014             0    98107  47.6722
626          1660              0      2014             0    98144  47.5876
2025         2190              0      2014             0    98117  47.6758
3442         1553              0      2014             0    98133  47.7049
...           ...            ...       ...           ...      ...      ...
21498        1630              0      2014             0    98103  47.6536
21534        1650              0      2014             0    98105  47.6636
21552        1100              0      2014             0    98112  47.6228
21574        1680              0      2014             0    98103  47.6572
21604        1490              0      2014             0    98144  47.5699

          long  sqft_living15  sqft_lot15
63    -122.320           1580        3090
139   -122.381           1350        1310
626   -122.309           1660        1784
2025  -122.380           1510        3615
3442  -122.340           1509        2431
...        ...            ...         ...
21498 -122.354           1570        1335
21534 -122.319           1720        1960
21552 -122.307           1110        1933
21574 -122.346           1640        4800
21604 -122.288           1400        1230

[79 rows x 21 columns]


Year: 2015 - Most Bedrooms:
               id             date      price  bedrooms  bathrooms  \
7526   9520900210  20141231T000000   614285.0         5       2.75
8425    558100090  20150312T000000   628000.0         5       2.75
14215  8156600210  20150326T000000  1290000.0         5       3.50
19907  7853440140  20150409T000000   802945.0         5       3.50
20251  7853440050  20150505T000000   771005.0         5       4.50
20488  8691440220  20150202T000000  1290000.0         5       4.00
20770  9310300160  20140828T000000   357000.0         5       2.50
21372  6169901185  20140520T000000   490000.0         5       3.50
21501  4233600150  20150203T000000  1150000.0         5       4.25

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
7526          2730      6401     2.0           0     0  ...      8
8425          2600      8160     2.0           0     0  ...      8
14215         2980      5100     2.0           0     0  ...     10
19907         4000      9234     2.0           0     0  ...      9
20251         4000      6713     2.0           0     0  ...      9
20488         4360      8030     2.0           0     0  ...     10
20770         2990      9240     2.0           0     0  ...      8
21372         4460      2975     3.0           0     2  ...     10
21501         4010      8252     2.0           0     0  ...     10

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
7526         2730              0      2015             0    98072  47.7685
8425         2600              0      2015             0    98133  47.7348
14215        2370            610      2015             0    98115  47.6782
19907        4000              0      2015             0    98024  47.5265
20251        4000              0      2015             0    98024  47.5254
20488        4360              0      2015             0    98075  47.5923
20770        2990              0      2015             0    98133  47.7384
21372        3280           1180      2015             0    98119  47.6313
21501        4010              0      2015             0    98075  47.5974

          long  sqft_living15  sqft_lot15
7526  -122.160           2520        6126
8425  -122.340           1600        8160
14215 -122.299           1780        5100
19907 -121.887           3690        6600
20251 -121.886           3690        6600
20488 -121.973           3570        6185
20770 -122.348           1970       18110
21372 -122.370           2490        4231
21501 -122.013           3370        8252

[9 rows x 21 columns]


Year: 2015 - Most Bathrooms:
               id             date     price  bedrooms  bathrooms  \
20251  7853440050  20150505T000000  771005.0         5        4.5

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
20251         4000      6713     2.0           0     0  ...      9

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
20251        4000              0      2015             0    98024  47.5254

          long  sqft_living15  sqft_lot15
20251 -121.886           3690        6600

[1 rows x 21 columns]


Year: 2015 - Most Floors:
               id             date     price  bedrooms  bathrooms  \
643    9385200045  20150512T000000  729500.0         3       2.50
17098  9126100346  20140617T000000  350000.0         3       2.00
19805  9126100765  20140801T000000  455000.0         3       1.75
19863  2768100510  20150402T000000  649000.0         3       2.00
20311  7132300525  20150411T000000  500000.0         3       1.75
20798   952005863  20150505T000000  643950.0         3       2.25
21262  5694500840  20141125T000000  559000.0         2       3.00
21270  1773100541  20150417T000000  389950.0         3       2.25
21372  6169901185  20140520T000000  490000.0         5       3.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
643           1660      1091     3.0           0     1  ...      9
17098         1380      3600     3.0           0     0  ...      8
19805         1320      1014     3.0           0     0  ...      9
19863         1530      1442     3.0           0     0  ...      9
20311         1530       825     3.0           0     0  ...      8
20798         1760      2122     3.0           0     0  ...      9
21262         1650       960     3.0           0     0  ...      8
21270         1580       920     3.0           0     0  ...      8
21372         4460      2975     3.0           0     2  ...     10

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
643          1530            130      2015             0    98116  47.5818
17098        1380              0      2015             0    98122  47.6074
19805        1320              0      2015             0    98122  47.6047
19863        1530              0      2015             0    98107  47.6692
20311        1530              0      2015             0    98144  47.5929
20798        1760              0      2015             0    98116  47.5633
21262        1350            300      2015             0    98103  47.6611
21270        1580              0      2015             0    98106  47.5578
21372        3280           1180      2015             0    98119  47.6313

          long  sqft_living15  sqft_lot15
643   -122.402           1510        1352
17098 -122.305           1480        3600

**2000, bedrooms: 6(grade:11), bathrooms: 5.75 (grade:12), floors: 3 <br>
2001, bedrooms: 7(grade:10), bathrooms: 6(grade:13), floors: 3 <br>
2002, bedrooms: 6(grade:10), bathrooms: 5(grade:10), floors: 3 <br>
2003, bedrooms: 6(grade:from 8 to 10), bathrooms: 5(grade:12), floors: 3 <br>
2004, bedrooms: 7(grade:10), bathrooms: 5.75(grade:12), floors: 3 <br>
2005, bedrooms: 6(grade:10), bathrooms: 6(grade:12), floors: 3.5 <br>
2006, bedrooms: 6(grade:7), bathrooms: 5.5(grade:11), floors: 3.5 <br>
2007, bedrooms: 6(grade:from 8 to 11), bathrooms: 6.5(grade:11), floors: 3.5 <br>
2008, bedrooms: 10, bathrooms: 5.5, floors: 3.5 <br>
2009, bedrooms: 6, bathrooms: 5, floors: 3 <br>
2010, bedrooms: 5, bathrooms: 5, floors: 3 <br>
2011, bedrooms: 5, bathrooms: 4, floors: 3 <br>
2012, bedrooms: 6, bathrooms: 4.5, floors: 3 <br>
2013, bedrooms: 7, bathrooms: 5, floors: 3 <br>
2014, bedrooms: 6, bathrooms: 5, floors: 3 <br>
2015, bedrooms: 5, bathrooms: 4.5, floors: 3 <br>**

## 3. Find the houses with an area larger than the mean area of all houses (do the same for both sqft_living and sqft_lot)

In [72]:
# Calculate the mean area
mean_living = df['sqft_living'].mean()
mean_lot = df['sqft_lot'].mean()

In [73]:
# Select houses with linving area larger than the mean area
large_sqft_living = df.loc[df['sqft_living']>mean_living]
print(large_sqft_living)

               id             date      price  bedrooms  bathrooms  \
5      7237550310  20140512T000000  1230000.0         4       4.50
29     1873100390  20150302T000000   719000.0         4       2.50
40     5547700270  20140715T000000   625000.0         4       2.50
42     7203220400  20140707T000000   861990.0         5       2.75
45     8035350320  20140718T000000   488000.0         3       2.50
...           ...              ...        ...       ...        ...
21598  8956200760  20141013T000000   541800.0         4       2.50
21599  7202300110  20140915T000000   810000.0         4       3.00
21600   249000205  20141015T000000  1540000.0         5       3.75
21605  3448900210  20141014T000000   610685.0         4       2.50
21606  7936000429  20150326T000000  1010000.0         4       3.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
5             5420    101930     1.0           0     0  ...     11
29            2570      7173     2.0           0     0  ...      8
40            2570      5520     2.0           0     0  ...      9
42            3595      5639     2.0           0     0  ...      9
45            3160     13603     2.0           0     0  ...      8
...            ...       ...     ...         ...   ...  ...    ...
21598         3118      7866     2.0           0     2  ...      9
21599         3990      7838     2.0           0     0  ...      9
21600         4470      8088     2.0           0     0  ...     11
21605         2520      6023     2.0           0     0  ...      9
21606         3510      7200     2.0           0     0  ...      9

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
5            3890           1530      2001             0    98053  47.6561
29           2570              0      2005             0    98052  47.7073
40           2570              0      2000             0    98074  47.6145
42           3595              0      2014             0    98053  47.6848
45           3160              0      2003             0    98019  47.7443
...           ...            ...       ...           ...      ...      ...
21598        3118              0      2014             0    98001  47.2931
21599        3990              0      2003             0    98053  47.6857
21600        4470              0      2008             0    98004  47.6321
21605        2520              0      2014             0    98056  47.5137
21606        2600            910      2009             0    98136  47.5537

          long  sqft_living15  sqft_lot15
5     -122.005           4760      101930
29    -122.110           2630        6026
40    -122.027           2470        5669
42    -122.016           3625        5639
45    -121.977           3050        9232
...        ...            ...         ...
21598 -122.264           2673        6500
21599 -122.046           3370        6814
21600 -122.200           2780        8964
21605 -122.167           2520        6023
21606 -122.398           2050        6200

[2157 rows x 21 columns]

In [74]:
# Select houses with lot area larger than the mean area
large_sqft_lot = df.loc[df['sqft_lot']>mean_lot]
print(large_sqft_lot)

               id             date      price  bedrooms  bathrooms  \
5      7237550310  20140512T000000  1230000.0         4        4.5
45     8035350320  20140718T000000   488000.0         3        2.5
79     1531000030  20150323T000000   720000.0         4        2.5
114    8961960160  20141028T000000   480000.0         4        2.5
147    3224079105  20140806T000000   430000.0         2        2.5
...           ...              ...        ...       ...        ...
21532   324069112  20140617T000000  1330000.0         4        4.0
21540   715010530  20150113T000000  1880000.0         5        3.5
21548  8835770330  20140819T000000  1060000.0         2        1.5
21551  1561750040  20141224T000000  1380000.0         5        4.5
21553  2522059251  20150409T000000   465000.0         3        2.5

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
5             5420    101930     1.0           0     0  ...     11
45            3160     13603     2.0           0     0  ...      8
79            3450     39683     2.0           0     0  ...     10
114           3230     16171     2.0           0     3  ...      9
147           2420     60984     2.0           0     0  ...      7
...            ...       ...     ...         ...   ...  ...    ...
21532         4420     16526     2.0           0     0  ...     11
21540         4410     13000     2.0           0     3  ...     10
21548         2370    184231     2.0           0     0  ...     11
21551         4350     13405     2.0           0     0  ...     11
21553         2050     15035     2.0           0     0  ...      9

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
5            3890           1530      2001             0    98053  47.6561
45           3160              0      2003             0    98019  47.7443
79           3450              0      2002             0    98010  47.3420
114          2520            710      2001             0    98001  47.3183
147          2420              0      2007             0    98027  47.5262
...           ...            ...       ...           ...      ...      ...
21532        4420              0      2013             0    98075  47.5914
21540        2920           1490      2014             0    98006  47.5382
21548        2370              0      2005             0    98045  47.4543
21551        4350              0      2014             0    98074  47.6018
21553        2050              0      2006             0    98042  47.3619

          long  sqft_living15  sqft_lot15
5     -122.005           4760      101930
45    -121.977           3050        9232
79    -122.025           3350       39750
114   -122.253           2640        8517
147   -121.943           1940      193842
...        ...            ...         ...
21532 -122.027           3510       50447
21540 -122.111           5790       12969
21548 -121.778           3860      151081
21551 -122.060           3990        7208
21553 -122.122           1300       15836

[460 rows x 21 columns]

## 4. Similarity, and/or pattern across the houses over the years

1. **The most expensive houses got more expensive from 2000 to 2007, but then prices went up and down. This could be because of the economy, the housing market.**
2.  **The houses with the most bedrooms, bathrooms, and floors tend to have relatively high grades. <br>
      There was a trend of building houses with more bedrooms, bathrooms, and floors in the earlier years (2000-2008).**
3. **Houses with larger areas than the mean area of all houses for both sqft_living and sqft_lot appear to be spread across different years. This indicates that larger properties are not limited to any specific time perio.**

# Part 2

## 1. Create a function which takes in a set of coordinates (lat and long) and another set, and calculates the distance between them.

In [112]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
5,7237550310,20140512T000000,1230000.0,4,4.5,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
9,3793500160,20150312T000000,323000.0,3,2.5,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
29,1873100390,20150302T000000,719000.0,4,2.5,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
30,8562750320,20141110T000000,580500.0,3,2.5,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
31,2426039314,20141201T000000,280000.0,2,1.5,1190,1265,3.0,0,0,...,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756

In [118]:
def distance_between_coordinates(lat_1, lon_1,lat_2, lon_2):
    lat_1= lat_1.astype(float) #convert to float
    long_1= long_1.astype(float)
    lat_2= lat_2.astype(float)
    long_2= long_2.astype(float)

    radius_of_earth = 6371.01

    d_lat = lat_2 - lat_1
    d_lon = lon_2 - lon_1

    a = (d_lat**2) + (d_lon**2)
    c = math.sqrt(a)

    distance = radius_of_earth * c

    return distance

# 2. You need to include a check to make sure that any given ID actually exists.

In [119]:
def distance_between_houses(id1,id2):
    # Select houses
    house_1 = df.loc[df['id']==id1]
    house_2 = df.loc[df['id']==id2]
    
    #Check if ids are valide 
    #if house_1.empty or house_2.empty:
        #return "Invalid house ID(s)"
    
    # Get coord
    lat_1 = house_1['lat']
    long_1 = house_2['long']
    lat_2 = house_2['lat'] 
    long_2 = house_2['long']
    
    # Calculate distance
    d = distance_between_coordinates(lat_1,long_1, lat_2, long_2)
    
    #Return distance
    return d

In [120]:
id_1 = 3793500160
id_2 = 2426039314
d = distance_between_houses(id_1,id_2)
print(d)

UnboundLocalError: cannot access local variable 'long_1' where it is not associated with a value

# 3. Given this function, try to find similarities between distance from one another and price.

## Part 3

## Research the usage of .at and .iat, include examples and explanations using the housing dataset and custom datasets you created

The .at and .iat methods in pandas are used to access individual elements within a DataFrame or Series based on their labels or integer positions, respectively. These methods are designed for fast and efficient single-item access. Here's how they work along with examples using the housing dataset and a custom dataset:

**.at Method: <br>
The .at method is used to access a single element in a DataFrame using row and column labels.** <br>
- df.at[row_label, column_label]

In [124]:
price0 = df.at[0, 'price']
print("Price of house at index 0:", price0)

Price of house at index 0: 221900.0

**.iat Method:<br>
The .iat method is used to access a single element in a DataFrame using integer positions for both rows and columns.**<br>
- df.iat[row_position, column_position]

In [126]:
element01 = df.iat[0, 1]
print("Element at (0, 1):", element01)

Element at (0, 1): 20141013T000000

.at and .iat are primarily used for single-item access and are not suitable for selecting multiple rows or columns at once.